[submodule "Assets/Scripts"]
	path = Assets/Scripts
	url = https://github.com/Silikiln/unity-library
	branch = scripts
[submodule "Assets/Editor"]
	path = Assets/Editor
	url = https://github.com/Silikiln/unity-library
	branch = editor
