[submodule "Assets/Scripts/Sillib"]
	path = Assets/Scripts/Sillib
	url = https://github.com/Silikiln/unity-library
	branch = scripts
[submodule "Assets/Editor/Sililib"]
	path = Assets/Editor/Sililib
	url = https://github.com/Silikiln/unity-library
	branch = editor
